<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.another_monkey_paradox" >

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="27" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/amp_icon"
        android:label="Another Monkey Paradox"
        android:theme="@style/GdxTheme" >
        <activity
            android:name="mx.itesm.another_monkey_paradox.AndroidLauncher"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>

